<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.moshao.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.moshao.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.moshao.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.moshao.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <servlet-class>com.moshao.servlet.QuantityIncDecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.moshao.servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>com.moshao.servlet.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderNowServlet</servlet-name>
        <servlet-class>com.moshao.servlet.OrderNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>com.moshao.servlet.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>com.moshao.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductsServlet</servlet-name>
        <servlet-class>com.moshao.servlet.FilterProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>com.moshao.servlet.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.moshao.servlet.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.moshao.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserOrdersServlet</servlet-name>
        <servlet-class>com.moshao.servlet.GetUserOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsersServlet</servlet-name>
        <servlet-class>com.moshao.servlet.GetUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateInvoiceServlet</servlet-name>
        <servlet-class>com.moshao.servlet.GenerateInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrdersServlet</servlet-name>
        <servlet-class>com.moshao.servlet.DisplayOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowServlet</servlet-name>
        <servlet-class>com.moshao.servlet.BuyNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductLevelServlet</servlet-name>
        <servlet-class>com.moshao.servlet.ProductLevelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>com.moshao.servlet.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDataServlet</servlet-name>
        <servlet-class>com.moshao.servlet.ProductDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.moshao.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsersServlet</servlet-name>
        <servlet-class>com.moshao.servlet.ViewUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>com.moshao.servlet.AdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.moshao.servlet.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.moshao.servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShirtsServlet</servlet-name>
        <servlet-class>com.moshao.servlet.ShirtsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PantsServlet</servlet-name>
        <servlet-class>com.moshao.servlet.PantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuitsServlet</servlet-name>
        <servlet-class>com.moshao.servlet.SuitsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HatsServlet</servlet-name>
        <servlet-class>com.moshao.servlet.HatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeltsServlet</servlet-name>
        <servlet-class>com.moshao.servlet.BeltsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JewelleryServlet</servlet-name>
        <servlet-class>com.moshao.servlet.JewelleryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoesServlet</servlet-name>
        <servlet-class>com.moshao.servlet.ShoesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FragrancesServlet</servlet-name>
        <servlet-class>com.moshao.servlet.FragrancesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>com.moshao.servlet.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetireProductServlet</servlet-name>
        <servlet-class>com.moshao.servlet.RetireProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProductsServlet</servlet-name>
        <servlet-class>com.moshao.servlet.SortProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/log-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/user-register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityIncDecServlet</servlet-name>
        <url-pattern>/quantity-inc-dec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/remove-from-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderNowServlet</servlet-name>
        <url-pattern>/order-now</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/cancel-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/cart-check-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductsServlet</servlet-name>
        <url-pattern>/filter-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserOrdersServlet</servlet-name>
        <url-pattern>/getUserOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsersServlet</servlet-name>
        <url-pattern>/getUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateInvoiceServlet</servlet-name>
        <url-pattern>/GenerateInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrdersServlet</servlet-name>
        <url-pattern>/DisplayOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowServlet</servlet-name>
        <url-pattern>/buy-now-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductLevelServlet</servlet-name>
        <url-pattern>/productLevel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/search-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDataServlet</servlet-name>
        <url-pattern>/productData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsersServlet</servlet-name>
        <url-pattern>/viewUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/adminRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShirtsServlet</servlet-name>
        <url-pattern>/shirts-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PantsServlet</servlet-name>
        <url-pattern>/pants-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuitsServlet</servlet-name>
        <url-pattern>/suits-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HatsServlet</servlet-name>
        <url-pattern>/hats-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeltsServlet</servlet-name>
        <url-pattern>/belts-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JewelleryServlet</servlet-name>
        <url-pattern>/jewellery-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoesServlet</servlet-name>
        <url-pattern>/shoes-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FragrancesServlet</servlet-name>
        <url-pattern>/fragrances-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/ProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetireProductServlet</servlet-name>
        <url-pattern>/retire-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProductsServlet</servlet-name>
        <url-pattern>/SortProductsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
